.text{
    font-size: 20px;
    font-weight: bold;
    color:aqua;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.login-logo{
    width: 80%;
    margin: 0 auto;
    display: block;
}

.login-title{
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.not-reg-text{
    padding: 1rem;
}