<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Next Movie App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (isLoading) {
    <ion-list>
      <ng-container *ngFor="let item of dummyArray">
        <ion-item lines="none" class="ion-padding-bottom">
          <ion-avatar slot="start">
            <ion-skeleton-text animated style="width: 60px; height: 60px;"></ion-skeleton-text>
          </ion-avatar>
          <ion-skeleton-text animated style="width: 70%; height: 20px;"></ion-skeleton-text>
        </ion-item>
      </ng-container>
    </ion-list>
  } @else if (error){
    <ion-alert header="Error" [message]="error" isOpen="true" buttons="['Ok']" />
  }

  <ion-list>
    @for (item of movies; track item.id){
      <ion-item button [routerLink]="['/details', item.id]">
        <ion-avatar slot="start">
          <img [src] = "imageBaseUrl + '/w92' + item.poster_path" alt="poster" />
        </ion-avatar>
        <ion-label>
          <h2>{{item.title}}</h2>
          <p>{{item.release_date | date:'y'}}</p>
        </ion-label>

        <ino-badge slot="end" color="primary">{{item.vote_average}}</ino-badge>
      </ion-item>
    } @empty {
      // No Movies Found
      <ion-item>
        <ion-label>
          <h2>No Movies Found</h2>
        </ion-label>
      </ion-item>
    }
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreMovies($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>
